@font-face {
    font-family: "Poppins-Thin";
    src: url("../fontes/Poppins-Thin.ttf");
}

@font-face {
    font-family: "Poppins-Thin-Italic";
    src: url("../fontes/Poppins-ThinItalic.ttf");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../fontes/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins-Medium-Italic";
    src: url("../fontes/Poppins-MediumItalic.ttf");
}

@font-face {
    font-family: "Poppins-Light";
    src: url("../fontes/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins-Light-Italic";
    src: url("../fontes/Poppins-LightItalic.ttf");
}

@font-face {
    font-family: "Poppins-Extra-Light";
    src: url("../fontes/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: "Poppins-Extra-Light-Italic";
    src: url("../fontes/Poppins-ExtraLightItalic.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fontes/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-Semi-Bold";
    src: url("../fontes/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins-Semi-Bold-Italic";
    src: url("../fontes/Poppins-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fontes/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-Bold-Italic";
    src: url("../fontes/Poppins-BoldItalic.ttf");
}

@font-face {
    font-family: "Poppins-Extra-Bold";
    src: url("../fontes/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: "Poppins-Extra-Bold-Italic";
    src: url("../fontes/Poppins-ExtraBoldItalic.ttf");
}